@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF; /* BG */
  --foreground: #2F2E30; /* Primary 1 */
  --primary: #DB4444; /* Secondary 2 */
  --primary-foreground: #FFFFFF; /* Primary */
  --muted: #F5F5F5; /* Secondary */
  --muted-foreground: #2F2E30; /* Primary 1 */
  --card: #FFFFFF;
  --card-foreground: #2F2E30;
  --border: #e5e7eb;
  --ring: #DB4444;
  --radius: 0.5rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #f9fafb;
  --primary-foreground: #111827;
  --muted: #111827;
  --muted-foreground: #e5e7eb;
  --card: #0a0a0a;
  --card-foreground: #ededed;
  --border: #1f2937;
  --ring: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
